<div class="container card">
  <label>First Name: </label>
  <input [(ngModel)]="this.user.first_name" placeholder="First Name"/>
  <br/>

  <label>Last Name: </label>
  <input [(ngModel)]="this.user.last_name" placeholder="Last Name"/>
  <br/>
  
  <label>Email: </label>
  <input [(ngModel)]="this.user.email" (keydown.enter) = "addInTable()" placeholder="email@email.com"/>
  <br/>
   <button  type="button" class="btn btn-dark" (click)="addInTable()">Add</button>
</div>


<div class="container card" *ngFor="let user of users">
  
    <app-user class="col-lg" [user]="user"></app-user>
    <div class="col-sm">
      <button type="button" class="btn btn-dark" (click)="deleteFromTable(user)">Delete</button>
    </div>
</div>
