<div classs="container">
  <div class="row">
    <h1>{{ name }}</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm">
        <button type="button" class="btn btn-dark" (click)=clickMe()> Do nothing</button>
      </div>
      <div class="col-sm">
        <button type="button" class="btn btn-dark" (click)=nextPage()> Other component</button>
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <a [routerLink]="'/'"> Main page</a>
      </div>
      <div class="col-sm">
        <a [routerLink]="'/other'"> Other page</a>
      </div>  
    </div>
    <div class="row">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>