<div class="container">
  <div class="row">
    <div class="col-sm"><img class="rounded-circle" src="{{user.avatar}}"></div>
    <div class="col-md">
      <div class="row">
        <div class="col-md"><b>First Name:</b></div>
        <div class="col-md">{{user.first_name}}</div>
      </div>
      <div class="row">
        <div class="col-md"><b>Last Name:</b></div>
        <div class="col-md">{{user.last_name}}</div>
      </div>
      <div class="row">
        <div class="col-md"><b>Email:</b></div>
        <div class="col-md"><a href="mailto:{{user.email}}">{{user.email}}</a></div>
      </div>
    </div>
  </div>
</div>