/* Add application styles & imports to this file! */
body {
  margin: 20px !important;
}
app-main {
  width: 80% !important;
  margin: 0 auto;
}
button {
  margin: 10px !important;
}

.card {
  background-color: #f8f9fa !important;
  margin: 5px !important;
}